/* Inicio.css */
.container {
    display: flex;
    background-color: #F5F5F5;
    height: 100vh;
  }
  
  .sidebar {
    background-color: #d900d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 200px; 
  }
  
  .menu-button {
    font-size: 40px;
    border: none;
    background: none;
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color: #d900d2;
    border-radius: 5px;
    padding: 15px 30px; 
    text-align: center;
    width: 100%; 
  }
  
  .menu-button.open {
    transform: translateX(0); 
  }
  
  .bar {
    background-color: white;
    height: 4px;
    width: 30px;
    margin: 4px 0;
    border-radius: 2px;
  }
  
  .menu-button:hover {
    background-color: #D8BFD8;
  }
  
  .menu-items {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }
  
  .content {
    flex: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  